<body>
<nav class="navbar navbar-light bg-dark">
    <span><a href="/"><img src="/udemy.png" width="30px"></a></span>
    <span><a href="/asks"><strong>realizar uma perguntar</strong></a></span>
    <!-- future
    <span><a href="/login"><strong>login</strong></a>  ¦ <a href="/signUp"><strong>sign un</strong></a></span>
    -->
</nav> 